/*
SECTION: index.php
*/

.latest .list-group-item{
  height: -10vw;
}

.latest .list-group-item img{
  margin-right: 1em;
}

/*
SECTION: general
*/

a{
  color: #0C9AF7;
}

/*
*{
  font-family: lato, helvetica, sans-serif;
}*/

html, body, form, fieldset, table, tr, td, img {
    margin: 0;
    padding: 0;
    font: 100%/150% lato, helvetica, sans-serif;;
}

input, button, select, textarea, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

/* rest of your styles; like: */
body {
    font-size: 0.875em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", serif;
  font-weight: 300;
}

.topdot5 {margin-top:0.5em;}
.top1 { margin-top:1em; }
.top2 { margin-top:2em; }
.top3 { margin-top:3em; }
.top5 { margin-top:5em; }
.top7 { margin-top:7em; }
.top10 { margin-top:10em; }
.top15 { margin-top:15em; }
.top17 { margin-top:17em; }
.top30 { margin-top:30em; }

.bottomdot5 { margin-bottom:0.5em; }
.bottom1 { margin-bottom:1em; }
.bottom2 { margin-bottom:2em; }
.bottom3 { margin-bottom:3em; }
.bottom5 { margin-bottom:5em; }
.bottom7 { margin-bottom:7em; }
.bottom10 { margin-bottom:10em; }
.bottom15 { margin-bottom:15em; }
.bottom17 { margin-bottom:17em; }
.bottom30 { margin-bottom:30em; }

.left1 { margin-left:1em !important; }
.left2 { margin-left:2em !important; }

.right1 { margin-right:1em; }
.right2 { margin-right:2em; }

footer{
padding-top: 30px;
padding-bottom: 30px;
background-color: #6c7073;
color: #383838  ;
height: 180px;
}


main{
  padding-top: 40px;
}

#wpadminbar{
  position:fixed;
}


/*
SECTION: events.php
*/

.panel-heading .badge{

  width: 53px;
}

.panel-title i{
    display: inline-block;
    position: relative;
    top: 3px;
    float:right;
}

.panel-title .fa-square-o{
  margin-right: 0.6em;
}

.panel-title .fa-check-square-o{
  margin-right: 0.5em;
}

.panel-title  a{
  margin-left: 1em;
}

.details{
  font-size:small;
}

.img-event{
  margin: 0 auto;

}

.registered{
  color: #00AA58;
}

.btn .unregister{
  margin-top:0.5em;
}

html, body {
  height: 100%;
}

.bg {
  width:100%;
  background-color:white;
  padding-bottom: 2em;
}

body{
  background-color:#6c7073;
}

.btn-edit-details, .btn-group-details{
  margin-bottom: .5em;
}

/*
SECTION: posts.php

*/
.single-post-h1{
  margin-top:0px;
}

.img-post{
  margin-top:0.5em;

}

.img-news{
  float:left;
  margin-right:1em;
}

.latest .list-group-item{

}

.list-group-news{
  height: -10vw;

}

.entry-meta{
    font-size: small;

  font-weight: 200;

}

.single-page-title{
  margin-top:0px;

}

.img-page{
  margin-top:1em;
}

.footer{
  color:white;
}

.navbar-default {
  background-color: #0C9AF7;
  border-color:rgba(255, 255, 255, 0);
}
.menu-item, .navbar-brand
{color:white !important;}

.navbar-default .navbar-toggle {
    border-color: #DDD;
    background-color: white;
}


.header-events{
  margin-top:0em;
  margin-bottom:0.5em;
}


/*
SECTION: login.php
*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*

*/
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
    position: relative;
    left: 1.3em;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
  }
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
/* SECTION: merchandise.php */

.list-group-item
{
  overflow:hidden;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.product.description{
  height: -40vw;
}
.img-wrapper.product{
min-height: 19.5vw;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.btn-edit-usr{
  margin-top:-.5em;
}

input[type='checkbox'], select{
  margin-top:.5em;
}

#navbarLogo{
  height: 35px;
  position: relative;
  top: -4px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  z-index: 1000;
}

.caption-fp {
  position: relative;
  overflow: hidden;
}

.caption__media {
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: 20em;
}
.caption__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
  transform: translateX(100%);
  transition: transform .35s ease-out;
}

.caption__gradient{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: 20em;
  background: -moz-linear-gradient(top,  rgba(76,76,76,0) 65%, rgba(76,76,76,0.17) 72%, rgba(44,44,44,0.53) 87%, rgba(33,33,33,0.85) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%,rgba(76,76,76,0)), color-stop(72%,rgba(76,76,76,0.17)), color-stop(87%,rgba(44,44,44,0.53)), color-stop(100%,rgba(33,33,33,0.85))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(76,76,76,0) 65%,rgba(76,76,76,0.17) 72%,rgba(44,44,44,0.53) 87%,rgba(33,33,33,0.85) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(76,76,76,0) 65%,rgba(76,76,76,0.17) 72%,rgba(44,44,44,0.53) 87%,rgba(33,33,33,0.85) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(76,76,76,0) 65%,rgba(76,76,76,0.17) 72%,rgba(44,44,44,0.53) 87%,rgba(33,33,33,0.85) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(76,76,76,0) 65%,rgba(76,76,76,0.17) 72%,rgba(44,44,44,0.53) 87%,rgba(33,33,33,0.85) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c4c4c', endColorstr='#d9212121',GradientType=0 ); /* IE6-9 */

}
.caption-fp:hover .caption__overlay {
  transform: translateY(0);
}
.caption-fp:hover .label__overlay{
  display:none;
}

.label__overlay{
  float:right;
  margin-right:1em;
  margin-top:1em;
  background-color: rgba(12,154,247,0.8) ;
  color:white;
  padding:.2em;
}

.caption__overlay__title {
  margin: 0;
  padding: 0 0 12px;
  transform: translateX( calc(-100% - 10px) ); /* +10px overlay padding */
  transition: transform .35s ease-out;
}
.caption-fp:hover .caption__overlay__title {
  transform: translateX(0);
}

.caption-fp::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  transition: background .35s ease-out;
}

.caption__overlay__content{
  background:rgba(0,0,0,0.45);
  display:inline-block;
  padding:.5em;
}

.caption-fp:hover::before {
  /*  background:rgba(44,44,44,0.35) ;

  /* rgba(0, 0, 0, .5);*/
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}


.login-message{
  margin-bottom:0px;
}

.btn-profile{
  margin-right: .6em;

}

.profile-header{

  margin-left: 2.5em;
}

footer a{
  color:white;
}

footer .bottom{
  margin-bottom:2em;
}

ul.footer{
  list-style:none;
  padding-left:0px;
}
.navbar>.container{
  margin-top: 0.5em;
}
.navbar{
height: 4.5em;
}

.navbar-default .navbar-collapse{
  border:unset;
}

.navbar-default {
  border:unset;
}

.navbar-collapse{
  background-color: #0C9AF7;

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color:white;
  color:#0C9AF7 !important;
}

/*.navbar-collapse .collapse .in >.navbar-right  > .open .dropdown > .dropdown-menu li > a {
  color:white;
}

.navbar-collapse .collapse .in > .navbar-right > .open .dropdown > .dropdown-menu li > a:hover {
  color:#0C9AF7 ;
  background-color:white ;
}
*/






.navbar-toggle{
  padding: 13px 10px;
  top:-5px;
}

.navbar-collapse{
  top: -3px;
position: relative;
}

.navbar-fixed-top .navbar-collapse{
  max-height:500px;
}

.dropdown-menu{
  padding-top:0px;
}



.navbar-nav > li > .dropdown-menu {
  border:unset;
  border-radius: 4px !important;
  margin-right: -1px;
  margin-top:-1px;
  padding-bottom: 0px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.image-news {
  float: left;
  display: block;
  overflow: hidden;
  width: 80px;
  height: 80px;
  margin-right:1em;
}

.tile-header{
  margin-top: 14.5em;
  float: left;
  margin-left: 1em;
}

.footer-logo{
  height: 16em;
  margin-bottom: 2em;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

footer h3,h4{
  color:white;
}

.icon-links{
  position: relative;
  top: 3.5em;
}

footer a i:hover{
  color: #FF8E00 ;
}

footer a:hover{
  color: #0C9AF7 ;
  text-decoration:none;
}
.tooltip-inner{
  white-space: nowrap;
}

.navbar-collapse {
  position: relative;
  top: -9px;
}

.menu-item{
  background-color: #0C9AF7;
  border-top: solid 8px #0C9AF7;
  border-bottom: solid 8px #0C9AF7;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #0C9AF7 !important;
  background-color: white !important ;
  border-top: solid 8px white;
  border-bottom: solid 8px white;

}
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header{
  color: #0C9AF7 !important;
  background-color: white  ;
  border-top: solid 8px white;
  border-bottom: solid 8px white;
}

.navbar-nav .open .dropdown-menu > li > a:hover,.navbar-nav .open .dropdown-menu .dropdown-header:hover{
  color: white !important;
  background-color: #0C9AF7 !important ;
  border-top: solid 8px white;
  border-bottom: solid 8px white;
}

 .dropdown.open>.menu-item{
  color: #0C9AF7 !important;
  background-color: white !important ;
  border-top: solid 8px white !important ;
  border-bottom: solid 8px white !important ;
}


#Laag_1{
  width: 15em;
top: -1em;
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
}

a #Laag_1:hover #circle3071,a svg:hover #path4019{
  fill: #FF8E00  !important;
}



a #Laag_1{
transition: 1000ms;
 transition-timing-function: ease-in-out;
 -webkit-transition: 1000ms;
 -webkit-transition-timing-function: ease-in-out;
}


#svg-logo-navbar{
  z-index:10;
  top: -.85em;
  position: relative;
  /*-ms-transform: rotate(7deg); /* IE 9 */
  /*  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  /*    transform: rotate(-2deg);*/

}

a #svg-logo-navbar:hover #rect5117{
  fill: white !important;
}

a #svg-logo-navbar:hover #path4050{
  fill:#0C9AF7 !important;
}

.label{
  position: relative;
  display: table;
  z-index: 1000;
  height: 16px;
  margin: 0 0 12px 0;
  padding: 4px 10px 4px 20px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  background-color: #FF8E00;
  -webkit-border-radius: 16px 4px 4px 16px;
  border-radius: 16px 4px 4px 16px;
}

.label:before{
  content: ' ';
position: absolute;
margin-left: -12px;
margin-top: 5px;
width: 7px;
height: 7px;
background-color: white;
border-radius: 3.5px;
overflow: hidden;
}

.blue{
  background-color: #0C9AF7;
}

.label.posts{
  float:right;
  margin-bottom:0px;
}

.pagination>li>a, .pagination>li>span {
  color:#0C9AF7;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color: #0C9AF7;
    border-color:#0789e0;
  }


.btn-primary {
  background-color: #0C9AF7;
  border-color:#0789e0;
}

.inline{
  display:inline;
}

.inline-block{
  display:inline-block;
}

.inline-flex{
  display:inline-flex;
}

.post-edit-link{
  padding: 3px 6px;
}
.post-edit-link:hover{
  text-decoration:none;
}
.post-edit-link:focus{
  text-decoration:none;
}

.author-post{
  line-height: 24px;
}

.overflow-hidden{
  overflow:hidden;
}

.menu-item{
  height:65px !important;
}

.break-all{
  word-break: break-word;
}


.list-group-item:hover a, .list-group-item:focus a, .list-group-item.active:hover a, .list-group-item.active:focus a{
  color:#0C9AF7;
}


.list-group-item a{
  color:black;
}

.img-rounded{
  border-radius:4px;
}

a:hover{
  text-decoration:none;
}

.h1-tile{
  color:white;
  text-shadow: 1px 1px 1px #000;
  position: absolute;
bottom: 0px;
margin-left: .5em;
margin-right: .5em;
}
.label__overlay{
  color:white;

  font-family:  lato, helvetica, sans-serif;
}

.h1-tile:hover{
  color:#FF8E00 !important;
}

.caption-fp:hover .h1-tile{
  color:#0C9AF7 !important;
}


.list-group-item-heading:hover a {
  text-decoration:none !important;
  color:#FF8E00 ;
}

.list-group-item-heading:focus a, .panel-title a:focus{
  text-decoration:none !important;
}

.list-group-item:hover{
  color:black !important;
}

.panel-title a:hover{
  color:black;
}

.panel-info>.panel-heading {
  color: #0C9AF7;
  background-color: #c0e5fd;
  border-color: #49b3f9;
}

.btn-primary:hover{
  background-color:#0675c0;
  color:white;
}

.caption.product h4{
  color:black;
  margin-bottom:.5em;
  font-family: "Oswald", sans-serif;
}

.event>.panel-heading:hover{
  background-color:#eee;
  cursor: pointer;
}

footer a:hover{
  color: #FF8E00;
}



.panel-heading>.label{
  top: -3px;
}

.label.event{
  background-color:#00AA58;
}

.modal-title{
  color:#0C9AF7;
}

.al2fb_anchor>a:before {
  font-family: FontAwesome !important;
  content: "\f09a" !important;
  font-size:22px !important;
}

a:focus{
  text-decoration:none;
  color:#FF8E00;
}

a:hover{
  color:#FF8E00;
}
footer a:focus{
  color: #0C9AF7;
}

.post-meta>.al2fb_anchor{
margin-left: 1em;
line-height: 24px;
}

.list-group-news>.label{
  margin-top:.5em;
}

.list-group-item-text{
  display:inline;
}
