.img-latest{

    float: left;
    margin-right: 1em;
    border-radius: 0.5em;
}

.latest .list-group-item{
  height: 102px;

}

footer{

padding-top: 30px;
padding-bottom: 30px;
background-color: #563D7C;
margin-top: 50px;
color: #EFEFEF;
height: 180px;
}

main{

  padding-top: 40px;
}

.panel-heading .badge{
  float:left;

}

.panel-heading .panel-title > a{
  margin-left: 2em;

}

.inactive{
  
}
