/*
SECTION: index.php
*/

.latest .list-group-item{
  height: -10vw;
}

.latest .list-group-item img{
  margin-right: 1em;
}

/*
SECTION: general
*/

a{
  color: #0C9AF7;
}


*{
  font-family: lato;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.topdot5 {margin-top:0.5em;}
.top1 { margin-top:1em; }
.top2 { margin-top:2em; }
.top3 { margin-top:3em; }
.top5 { margin-top:5em; }
.top7 { margin-top:7em; }
.top10 { margin-top:10em; }
.top15 { margin-top:15em; }
.top17 { margin-top:17em; }
.top30 { margin-top:30em; }

.bottomdot5 { margin-bottom:0.5em; }
.bottom1 { margin-bottom:1em; }
.bottom2 { margin-bottom:2em; }
.bottom3 { margin-bottom:3em; }
.bottom5 { margin-bottom:5em; }
.bottom7 { margin-bottom:7em; }
.bottom10 { margin-bottom:10em; }
.bottom15 { margin-bottom:15em; }
.bottom17 { margin-bottom:17em; }
.bottom30 { margin-bottom:30em; }

footer{
padding-top: 30px;
padding-bottom: 30px;
background-color: #0C9AF7;
color: #383838  ;
height: 180px;
margin-top: 1em;
}


main{
  padding-top: 40px;
}

#wpadminbar{
  position:fixed;
}


/*
SECTION: events.php
*/

.panel-heading .badge{

  width: 53px;
}

.panel-title i{
    display: inline-block;
    position: relative;
    top: 3px;
    float:right;
}

.panel-title .fa-square-o{
  margin-right: 0.6em;
}

.panel-title .fa-check-square-o{
  margin-right: 0.5em;
}

.panel-title  a{
  margin-left: 1em;
}

.details{
  font-size:small;
}

.img-event{
  margin: 0 auto;

}

.registered{
  color: #5CB85C;
}

.btn .unregister{
  margin-top:0.5em;
}

html, body {
  height: 100%;
}

.bg {
  width:100%;
  background-color:white;
  padding-bottom: 2em;
}

body{
  background-color:#0C9AF7;
}

.btn-edit-details, .btn-group-details{
  margin-bottom: .5em;
}

/*
SECTION: posts.php

*/
.single-post-h1{
  margin-top:0px;
}

.img-post{
  margin-top:0.5em;

}

.img-news{
  float:left;
  margin-right:1em;
}

.latest .list-group-item{

}

.list-group-news{
  height: -10vw;

}

.entry-meta{
    font-size: small;

  font-weight: 200;

}

.single-page-title{
  margin-top:0px;

}

.img-page{
  margin-top:1em;
}

.footer{
  color:white;
}

.navbar-default {
  background-color: #0C9AF7;
  border-color:rgba(255, 255, 255, 0);
}
.menu-item, .navbar-brand
{color:white !important;}

.navbar-default .navbar-toggle {
    border-color: #DDD;
    background-color: white;
}


.header-events{
  margin-top:0em;
  margin-bottom:0.5em;
}


/*
SECTION: login.php
*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*

*/
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
    position: relative;
    left: 1.3em;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
  }
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
/* SECTION: merchandise.php */

.list-group-item
{
  overflow:hidden;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.product.description{
  height: -40vw;
}
.img-wrapper.product{
min-height: 19.5vw;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
